.component-picker {
  width: 330px;

  &__component-list-details {
    flex-direction: column;
  }
  &__image {
    height: 130px;
    background-size: cover;
    width: 160px;
    margin: 0 auto;
  }
}