.admin-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  background-color: #2196f3;
  transition: .2s;
  z-index: 1000;

  &__buttons {
    flex-grow: 1;
  }
}